.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2% 2%;
    align-items: center;
    background-color: #f9f9f9;
}

.image {
    height: 100%;
    max-width:  40%;
    padding: 3%;
    object-fit: contain;
    /* border: 1px solid red; */
}

@media screen and (min-width: 720px) {
    .container {
      padding: 1% 2%;
    }

    .image {
        padding: 1%;
    }
  }