.container {
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    align-self: center;

    padding: 7% 2%;


}

.text {
    font-style: italic;
    font-size: 24px;
    width: 90%;
    align-self: center;
}

@media screen and (min-width: 720px) {
    .container {
      max-height: 80px;
      padding: 2% 2%;
    }
    .text {
      width: 70%;
    }
  }