<app-banner></app-banner>

<app-photo-banner></app-photo-banner>

<app-text-banner
[displayText]="'“Every bird, every tree, every flower reminds me what a blessing and privilege it is just to be alive.” — Marty Rubin'">
</app-text-banner>

<app-gallery-row
[image1]="images[0]"
[image2]="images[1]"
(photoClicked)="catchPhoto($event)">
</app-gallery-row>

<app-gallery-row
[image1]="images[2]"
[image2]="images[3]"
(photoClicked)="catchPhoto($event)">
</app-gallery-row>

<app-gallery-row
[image1]="images[4]"
[image2]="images[5]"
(photoClicked)="catchPhoto($event)">
</app-gallery-row>

<app-text-banner
[displayText]="'“A bird does not sing because it has an answer, it sings because it has a song.” — Maya Angelou'">
</app-text-banner>

<app-gallery-row
[image1]="images[6]"
[image2]="images[7]"
(photoClicked)="catchPhoto($event)">
</app-gallery-row>

<app-gallery-row
[image1]="images[8]"
[image2]="images[9]"
(photoClicked)="catchPhoto($event)">
</app-gallery-row>

<app-gallery-row
[image1]="images[10]"
[image2]="images[11]"
(photoClicked)="catchPhoto($event)">
</app-gallery-row>


<app-footer></app-footer>