.bg-image {
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.flex-container-top {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.flex-container-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.text {
    color: #F3F3F3;
}

h1 {
    font-size: 48px;
    margin: 3rem 0.5rem;
}

.about-me-body {
    margin: 30% 0.5rem;
    font-size: 24px;
} 

.gallery-link {
    margin: 35% 0.5rem;
    font-size: 24px;
} 




