<!-- <app-title-banner></app-title-banner>
<app-about-me></app-about-me>
<app-gallery-panel></app-gallery-panel>
 -->


 <div>

    <div class="bg-image flex-container-top" [ngStyle]="{backgroundImage:'url(assets/photos/house-finch.jpg)'}">
        <h1 class="text title-text">Will's Bird Photos</h1>
    </div>





    <div class="bg-image flex-container-space-between" [ngStyle]="{backgroundImage:'url(assets/photos/red-bellied-woodpecker.jpg)'}" routerLink="/gallery">
        <h1 class="text">Gallery</h1>
        <!-- <button routerLink="/gallery" class="text gallery-link">Enter the Gallery</button> -->
        <p class="text gallery-text">Tap to Enter</p>
    </div>


 
    <div class="bg-image flex-container-space-between" [ngStyle]="{backgroundImage:'url(assets/photos/dark-eyed-junco.jpg)'}"> 
        <h1 class="text">Little Bit of Info</h1>
        <p class="text about-me-body">
            All of the photos on this website were taken by me! I use a Canon R7
            with a Canon RF 100-500mm f/4.5 - 7.1. 
        </p>
    </div>

</div>