<!-- <app-title-banner></app-title-banner>
<app-about-me></app-about-me>
<app-gallery-panel></app-gallery-panel>
 -->


 <div>

    <div class="bg-image flex-container-top" [ngStyle]="{backgroundImage:'url(assets/photos/house-finch.jpg)'}">
        <h1 class="text title-text">Will's Bird Photos</h1>
    </div>





    <div class="bg-image flex-container-space-between" [ngStyle]="{backgroundImage:'url(assets/photos/bird-showcase/showcase-15.jpg)'}">
        <h1 class="text">Gallery</h1>
        <a routerLink="/gallery" class="text gallery-link">Enter the Gallery</a>
    </div>


 
    <div class="bg-image flex-container-space-between" [ngStyle]="{backgroundImage:'url(assets/photos/bird-showcase/showcase-36.jpg)'}"> 
        <h1 class="dark-text">About Me</h1>
        <p class="dark-text about-me-body">
            Welcome to my bird photo gallery! All the photos are on this site were taken by me!
            I use a Canon R7 with the Canon RF 100-500mm lens.
        </p>
    </div>

</div>