.bg-image {
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.flex-container-top {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.flex-container-space-between {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.flex-container-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.dark-text {
    color: #0a0a0a;
}
.text {
    color: #F3F3F3;
}

h1 {
    font-size: 48px;
    margin: 3rem 0.5rem;
}


.about-me-body {
    margin: 10% 0.5rem;
    font-size: 28px;
} 

.gallery-link {
    margin: 35% 0.5rem;
    font-size: 28px;
}

button {
    background-color: #0a0a0a7a;
    border-radius: 10pt;
    padding: 0.5rem;
    border-color: #F3F3F3;
}




