.container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    max-width: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: 100%;
}

button {
    color: #f3f3f3;
    border: solid;
    border-color: #f3f3f3;
    border-radius: 10pt;
    border-width: 1px;   
    padding: 3rem;
    width: 50%;
    margin: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);

}

button:disabled {
    opacity: 0.20;
}